* {
  box-sizing: border-box;
  padding: 0;
  margin: 0
}
html {
  font-size: 62.5%
}
body {
  color: #3a4145
}
a {
  text-decoration: none
}
ul, li {
  list-style: none;
  padding-left: 8px;
  list-style-position: inside
}
.side-header {
  position: fixed;
  margin: 20px auto;
  width: 200px;
  height: 200px
}
.side-header .logo {
  position: relative;
  left: 30px;
  display: block
}
.side-header .logo img {
  width: 120px;
  height: 120px
}
.side-header .contact {
  font-size: 2rem;
  padding-left: 20%
}
.side-header .contact li a {
  color: rgba(30, 30, 30, 0.92)
}
.content {
  padding-left: 20%;
  padding-right: 10%;
  padding-top: 30px;
  min-height: 600px
}
.content .post {
  font-size: 1.6rem;
  width: 80%;
  margin-top: 3rem;
  margin-left: 2rem;
  padding-bottom: 3rem;
  border-bottom: #a7abb3 1px solid;
  word-break: break-word
}
.content .post-meta {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #9eabb3
}
.content .post-title a {
  color: black
}
.content .post-title a:hover {
  color: #3f51b5
}
.content .post-excerpt p {
  margin: 1.6rem 0;
  font-size: 1.5rem;
  line-height: 1.5em
}
.content .topic li p {
  padding-left: 16px;
  margin: auto
}
.content .topic li::before {
  content: "-";
  padding-right: 8px
}
.side-footer {
  margin: 4rem 0 0 0;
  padding: 3rem 0;
  text-align: center;
  color: #bbc7cc;
  background-color: #f9f9f9;
  border-top: #ebf2f6 1px solid;
  font-size: 1.6rem;
  line-height: 1.6em
}
.side-footer .twitter, .email, .github {
  color: black;
  display: inline-block
}