* {
  box-sizing: border-box;
  padding: 0;
  margin: 0
}
html {
  font-size: 62.5%
}
body {
  color: #3a4145
}
a {
  text-decoration: none
}
ul, li {
  list-style: none
}
.side-header {
  position: relative;
  width: 100%;
  height: 130px;
  margin: 20px auto;
  padding-left: 80px
}
.side-header .logo {
  position: absolute;
  right: 50%;
  width: 40%;
  height: 100%;
  max-width: 350px;
  display: inline-block
}
.side-header .logo img {
  position: absolute;
  width: 120px;
  height: 120px;
  vertical-align: middle;
  bottom: 3px
}
.side-header .contact {
  position: absolute;
  left: 50%;
  bottom: 0;
  display: inline-block;
  width: 40%;
  max-width: 350px;
  font-size: 2rem;
  font-weight: bold;
  text-align: right
}
.side-header .contact li {
  display: inline;
  margin-left: 20px
}
.side-header .contact li a {
  color: #bdbdbd
}
.side-header .divider {
  position: absolute;
  bottom: -10px;
  left: 0px;
  width: 100%
}
.content {
  width: 100%
}
.content .post {
  font-size: 1.6rem;
  width: 80%;
  max-width: 700px;
  margin: 3rem auto;
  padding-bottom: 3rem;
  border-bottom: #a7abb3 1px solid;
  word-break: break-word
}
.content .post-meta {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #9eabb3
}
.content .post-title a {
  color: black
}
.content .post-title a:hover {
  color: #3f51b5
}
.content .post-excerpt p {
  margin: 1.6rem 0;
  font-size: 1.5rem;
  line-height: 1.5em
}
.side-footer {
  margin: 4rem 0 0 0;
  padding: 3rem 0;
  text-align: center;
  color: #bbc7cc;
  background-color: #f9f9f9;
  border-top: #ebf2f6 1px solid;
  font-size: 1.6rem;
  line-height: 1.6em
}
.side-footer .twitter, .email, .github {
  color: black;
  display: inline-block
}
.side-footer a:hover, span:hover {
  font-size: 2rem
}